# Dom√°c√≠ √∫kol ƒç. 1 - üïµÔ∏è‚Äç‚ôÄÔ∏è Exploraƒçn√≠ anal√Ωza dat

## üìö Data
V souborech `intakes.csv` a `outcomes.csv` naleznete data z √∫tulku ve mƒõstƒõ Austin, Texas USA. Data poch√°zej√≠ z ofici√°ln√≠ho [zdroje otev≈ôen√Ωch dat mƒõsta Austin](https://data.austintexas.gov/).

Dataset [intakes](https://data.austintexas.gov/Health-and-Community-Services/Austin-Animal-Center-Intakes/wter-evkm) obsahuje data o p≈ôijat√Ωch zv√≠≈ôatech od 1. 10. 2013 do 6. 10. 2024. Dataset [outcomes](https://data.austintexas.gov/Health-and-Community-Services/Austin-Animal-Center-Outcomes/9t4d-g238) obsahuje √∫daje o zv√≠≈ôatech, kter√° √∫tulek opustila (nap≈ô. byla adoptov√°na, vr√°cena majiteli a podobnƒõ) za tent√Ω≈æ ƒçasov√Ω interval. M≈Ø≈æe se st√°t, ≈æe zv√≠≈ôata p≈ôijat√° do 1. 10. 2013 se nevyskytuj√≠ v `intakes.csv` (data se je≈°tƒõ neshroma≈æƒèovala), ale budou m√≠t z√°znam v `outcomes.csv`, pokud √∫tulek po tomto datu opustila.

‚òùÔ∏è Ka≈æd√Ω dataset m≈Ø≈æe **stejn√© zv√≠≈ôe obsahovat v√≠ckr√°t** (1. nƒõkter√° zv√≠≈ôata se do √∫tulku vracela - to je trochu komplikace, pokud byste datasety chtƒõli spojit - pro ≈ôe≈°en√≠ √∫kolu spojov√°n√≠ ale nen√≠ nutn√©, 2. nƒõkter√© z√°znamy jsou duplicitn√≠ - ty m≈Ø≈æete odstranit, jedn√° se o chybu). 

## Zad√°n√≠
> ‚òùÔ∏è Pou≈æ√≠vejte markdown bu≈àky! Zd≈Øvod≈àujte v≈°echny d≈Øle≈æit√© kroky, popisujte vizualizace a co je z nich mo≈æn√© pozorovat. Za nep≈ôehledn√Ω dom√°c√≠ √∫kol nebudou udƒõleny body.

> ‚ùå Zkop√≠rovan√Ω k√≥d ze cviƒçen√≠ (p≈ôedev≈°√≠m ze cviƒçen√≠ 2) nebude uzn√°n!

> ‚ÄºÔ∏è Akceptovateln√Ω je √∫kol pouze v ƒçe≈°tinƒõ, sloven≈°tinƒõ nebo angliƒçtinƒõ.

Za ≈ô√°dn√© pr≈Øbƒõ≈æn√© komentov√°n√≠ a vizu√°ln√≠ prezentaci postupu a v√Ωsledk≈Ø lze z√≠skat a≈æ 3 body.

**‚ú® P≈ô√≠prava dat** (celkem 4 body)
* Importujte pot≈ôebn√© bal√≠ƒçky.
* Naƒçtƒõte si datasety intakes a outcomes z p≈ô√≠slu≈°n√Ωch csv soubor≈Ø.
* Seznamte se s obƒõma datasety a sv√° zji≈°tƒõn√≠ komentujte:
  * P≈ô√≠klad informac√≠, kter√© lze zjistit: poƒçet ≈ô√°dk≈Ø datasetu, poƒçet a v√Ωznam p≈ô√≠znak≈Ø, datov√Ω typ p≈ô√≠znak≈Ø a poƒçet jejich unik√°tn√≠ch hodnot, ...
* Vyƒçistƒõte a zkonvertujte data:
  * Zjistƒõte jak√Ωm zp≈Øsobem jsou v datasetu uv√°dƒõny chybƒõj√≠c√≠ hodnoty a v p≈ô√≠padƒõ pot≈ôeby je p≈ôepi≈°te na NaN.
  * Zkonvertujte kategorick√© p≈ô√≠znaky na typ category.
  * P≈ôeveƒète p≈ô√≠znak Age upon Intake/Outcome na numerick√Ω p≈ô√≠znak.
  * P≈ôeveƒète p≈ô√≠znak DateTime na typ datetime64.
  * Proveƒète v≈°echny dal≈°√≠ √∫pravy, kter√© v√°m d√°vaj√≠ smysl (konverze dal≈°√≠ch p≈ô√≠znak≈Ø, odstranƒõn√≠ duplicitn√≠ch √∫daj≈Ø, p≈ôid√°n√≠ nov√Ωch p≈ô√≠znak≈Ø, ...).
  
**üñäÔ∏è Deskriptivn√≠ statistiky** (celkem 6 bod≈Ø)

Volbu vhodn√Ωch statistik pro dan√Ω typ dat komentujte a pokud je to mo≈æn√©, vyu≈æ√≠vejte co nejv√≠ce vizualizace.
* Popi≈°te p≈ô√≠znaky Age upon Intake a DateTime (p≈Øvodnƒõ z datasetu intakes) pomoc√≠ univariaƒçn√≠ch deskriptivn√≠ch statistik.
* Vyberte si t≈ôi dal≈°√≠ p≈ô√≠znaky a popi≈°te je pomoc√≠ univariaƒçn√≠ch deskriptivn√≠ch statistik, kter√© jsou pro nƒõ vhodn√©.
* Vyberte si dva p≈ô√≠znaky, mezi kter√Ωmi by mohl b√Ωt nƒõjak√Ω vztah (nap≈ô. korelace) a popi≈°te tento vztah pomoc√≠ bivariaƒçn√≠ch deskriptivn√≠ch statistik. Dvojice typu Age upon Intake a Age upon Outcome neuzn√°v√°me.

**‚ùì Zadan√© ot√°zky** (2 body za ka≈ædou ot√°zku, celkem max. 6 bod≈Ø)

Pomoc√≠ vhodn√Ωch vizualizac√≠ odpov√≠dejte na n√°sleduj√≠c√≠ ot√°zky:
* Z√°vis√≠ typ odchodu zv√≠≈ôete z √∫tulku (Outcome Type) na typu p≈ô√≠chodu (Intake Type)? Pokud chcete, uva≈æujte pro zjednodu≈°en√≠ pouze zv√≠≈ôata, kter√° se v ka≈æd√©m datasetu vyskytuj√≠ pr√°vƒõ jednou.
* Hraje vƒõk zv√≠≈ôete roli p≈ôi adopci?
* Je p≈ô√≠jem zv√≠≈ôat v r√°mci roku konstantn√≠ nebo existuj√≠ obdob√≠ s vƒõt≈°√≠/ni≈æ≈°√≠ z√°tƒõ≈æ√≠?

K jedn√© ot√°zce m≈Ø≈æete v p≈ô√≠padƒõ pot≈ôeby vytvo≈ôit v√≠ce vizualizac√≠. V√Ωsledek vizualizace a v≈°echny mezikroky komentujte.

**‚ùì Vlastn√≠ ot√°zky** (2 body za ka≈ædou ot√°zku, celkem max. 6 bod≈Ø)

Vymyslete **minim√°lnƒõ t≈ôi** vlastn√≠ ot√°zky a odpov√≠dejte na nƒõ vhodn√Ωmi vizualizacemi. Ot√°zky m≈Ø≈æete postavit na ji≈æ zm√≠nƒõn√Ωch datasetech. Tak√© je mo≈æn√© vyu≈æ√≠t t≈ôet√≠ dataset [locations](https://data.austintexas.gov/Health-and-Community-Services/Austin-Animal-Center-Found-Pets-Map/hye6-gvq2), kter√Ω naleznete v souboru locations.csv, nebo si m≈Ø≈æete st√°hnout nƒõjak√° dal≈°√≠ zaj√≠mav√° data, kter√° souvis√≠ s t√≠mto t√©matem.

Dataset locations poskytuje informace o v≈°ech toulav√Ωch koƒçk√°ch a psech, kter√© jsou v datab√°zi √∫tulku **m√©nƒõ ne≈æ t√Ωden**. Vƒõt≈°ina se nach√°z√≠ v √∫tulku, ale ƒç√°st z nich je u dobrovoln√≠k≈Ø ‚Äì tato informace je uvedena ve sloupci At AAC (AAC ‚Äì Austin Animal Center).

### Bodov√© hodnocen√≠
Shrnut√≠ bod≈Ø, kter√© m≈Ø≈æete nejv√Ω≈°e z√≠skat:
- 3 body za koment√°≈ôe a vizu√°ln√≠ prezentaci postupu a v√Ωsledk≈Ø,
- 4 body za p≈ô√≠pravu dat,
- 6 bod≈Ø za deskriptivn√≠ statistiku,
- 6 bod≈Ø za zodpovƒõzen√≠ v≈°ech zadan√Ωch ot√°zek,
- 6 bod≈Ø za definici a zodpovƒõzen√≠ minim√°lnƒõ t≈ô√≠ vlastn√≠ch ot√°zek.

Celkem lze za dom√°c√≠ √∫kol ƒç. 1 z√≠skat maxim√°lnƒõ 25 bod≈Ø.

## Homework

### Data preprocessing

Firstly we will import libraries and read files.

In [1]:
import numpy as np
import pandas as pd

import matplotlib as mpl
import matplotlib.pyplot as plt

In [2]:
intakes_raw  = pd.read_csv('intakes.csv');
outcomes_raw = pd.read_csv('outcomes.csv');

display(intakes_raw.head())
display(outcomes_raw.head())

,Animal ID,Name,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
0,A786884,*Brock,01/03/2019 04:19:00 PM,January 2019,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor
1,A706918,Belle,07/05/2015 12:59:00 PM,July 2015,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver
2,A724273,Runster,04/14/2016 06:43:00 PM,April 2016,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White
3,A665644,NaN,10/21/2013 07:59:00 AM,October 2013,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico
4,A857105,Johnny Ringo,05/12/2022 12:23:00 AM,May 2022,4404 Sarasota Drive in Austin (TX),Public Assist,Normal,Cat,Neutered Male,2 years,Domestic Shorthair,Orange Tabby

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
0,A882831,*Hamilton,07/01/2023 06:12:00 PM,Jul 2023,03/25/2023,Adoption,NaN,Cat,Neutered Male,3 months,Domestic Shorthair Mix,Black/White
1,A794011,Chunk,05/08/2019 06:20:00 PM,May 2019,05/02/2017,Rto-Adopt,NaN,Cat,Neutered Male,2 years,Domestic Shorthair Mix,Brown Tabby/White
2,A776359,Gizmo,07/18/2018 04:02:00 PM,Jul 2018,07/12/2017,Adoption,NaN,Dog,Neutered Male,1 year,Chihuahua Shorthair Mix,White/Brown
3,A821648,NaN,08/16/2020 11:38:00 AM,Aug 2020,08/16/2019,Euthanasia,NaN,Other,Unknown,1 year,Raccoon,Gray
4,A720371,Moose,02/13/2016 05:59:00 PM,Feb 2016,10/08/2015,Adoption,NaN,Dog,Neutered Male,4 months,Anatol Shepherd/Labrador Retriever,Buff

We will delete duplicated rows, so all further EDA will be correct.

In [3]:
print(f"Duplicated intakes:  {intakes_raw.duplicated().sum()}")
intakes = intakes_raw.drop_duplicates()

print(f"Duplicated outcomes:  {outcomes_raw.duplicated().sum()}")
outcomes = outcomes_raw.drop_duplicates()

Duplicated intakes:  32
Duplicated outcomes:  24

Now we will analyze intakes

In [4]:
def better_info(df):
    return pd.DataFrame({'NUnique' : df.nunique(), 'Dtype' : df.dtypes})

print('Intakes',f"Number of features: {intakes.shape[1]}", f"Number of samples: {intakes.shape[0]}", '', sep='\n')
display(better_info(intakes))

print('Outcomes', f"Number of features: {outcomes.shape[1]}", f"Number of samples: {outcomes.shape[0]}", '', sep='\n')
display(better_info(outcomes))

Intakes
Number of features: 12
Number of samples: 167524

                  NUnique   Dtype
Animal ID          150561  object
Name                29042  object
DateTime           115549  object
MonthYear             133  object
Found Location      67994  object
Intake Type             6  object
Intake Condition       20  object
Animal Type             5  object
Sex upon Intake         5  object
Age upon Intake        55  object
Breed                2966  object
Color                 650  object

Outcomes
Number of features: 12
Number of samples: 167535

                  NUnique   Dtype
Animal ID          150558  object
Name                28979  object
DateTime           139792  object
MonthYear             133  object
Date of Birth        8486  object
Outcome Type           11  object
Outcome Subtype        26  object
Animal Type             5  object
Sex upon Outcome        5  object
Age upon Outcome       55  object
Breed                2964  object
Color                 653  object

### Extracting features

We will expand features like Age and Sex upon Income/Outcome for ease of analysis.

All transformations will be done in functions, so it will be possible to replicate them on both datasets. Then those functions will be stacked into pipeline.

Pipeline function is taken from [here](https://dzone.com/articles/python-function-pipelines-streamlining-data-proces)

In [5]:
import re

# Pipeline takes multiple functions as argument and returns an inner function
def pipeline(*funcs):
    def inner(data, **kwargs):
        result = data
        # Iterate thru every function
        for func in funcs:
            result = func(result, **kwargs)
        return result
    return inner

# Ensures immutability on pipeline level
def copy(df : pd.DataFrame, **kwargs) -> pd.DataFrame:
    return df.copy()

In [6]:
def extract_month_year(df : pd.DataFrame, **kwargs) -> pd.DataFrame:
    month_year = df['MonthYear'].str.extract(r'(\S+) (\S+)')
    df.loc[:, ['Month', 'Year']] = None
    df.loc[:,'Month'] = month_year[0]
    df.loc[:,'Year'] = month_year[1]
    df.drop(columns=['MonthYear'], inplace=True)
    return df

def expand_sex(df : pd.DataFrame, dataset, **kwargs) -> pd.DataFrame:
    col = f"Sex upon {dataset}"
    sterelization_sex = df[col].str.extract(r'(\S+) (male|female)', re.IGNORECASE)
    df.loc[:, ['Sterelization', 'Sex']] = None
    df.loc[:,'Sterelization'] = sterelization_sex[0]
    df.loc[:,'Sex'] = sterelization_sex[1]
    df.drop(columns=[col], inplace=True)
    return df

def expand_age(df : pd.DataFrame, dataset, **kwargs) -> pd.DataFrame:
    col = f"Age upon {dataset}"
    age_unit = df[col].str.extract(r'(\d+) (\S+)')
    df.loc[:, ['AgeNum', 'AgeUnit']] = None
    df.loc[:, 'AgeNum'] = age_unit[0]
    df.loc[:, 'AgeUnit'] = age_unit[1]
    df.drop(columns=[col], inplace=True)
    return df

In [7]:
exp_pipe = pipeline(
    copy,
    extract_month_year,
    expand_sex,
    expand_age
)

outcome_df = exp_pipe(outcomes, dataset='Outcome')
intake_df = exp_pipe(intakes, dataset='Intake')
display(intake_df.head(), outcome_df.head())

,Animal ID,Name,DateTime,Found Location,Intake Type,Intake Condition,Animal Type,Breed,Color,Month,Year,Sterelization,Sex,AgeNum,AgeUnit
0,A786884,*Brock,01/03/2019 04:19:00 PM,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Beagle Mix,Tricolor,January,2019,Neutered,Male,2,years
1,A706918,Belle,07/05/2015 12:59:00 PM,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,English Springer Spaniel,White/Liver,July,2015,Spayed,Female,8,years
2,A724273,Runster,04/14/2016 06:43:00 PM,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Basenji Mix,Sable/White,April,2016,Intact,Male,11,months
3,A665644,NaN,10/21/2013 07:59:00 AM,Austin (TX),Stray,Sick,Cat,Domestic Shorthair Mix,Calico,October,2013,Intact,Female,4,weeks
4,A857105,Johnny Ringo,05/12/2022 12:23:00 AM,4404 Sarasota Drive in Austin (TX),Public Assist,Normal,Cat,Domestic Shorthair,Orange Tabby,May,2022,Neutered,Male,2,years

,Animal ID,Name,DateTime,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Breed,Color,Month,Year,Sterelization,Sex,AgeNum,AgeUnit
0,A882831,*Hamilton,07/01/2023 06:12:00 PM,03/25/2023,Adoption,NaN,Cat,Domestic Shorthair Mix,Black/White,Jul,2023,Neutered,Male,3,months
1,A794011,Chunk,05/08/2019 06:20:00 PM,05/02/2017,Rto-Adopt,NaN,Cat,Domestic Shorthair Mix,Brown Tabby/White,May,2019,Neutered,Male,2,years
2,A776359,Gizmo,07/18/2018 04:02:00 PM,07/12/2017,Adoption,NaN,Dog,Chihuahua Shorthair Mix,White/Brown,Jul,2018,Neutered,Male,1,year
3,A821648,NaN,08/16/2020 11:38:00 AM,08/16/2019,Euthanasia,NaN,Other,Raccoon,Gray,Aug,2020,NaN,NaN,1,year
4,A720371,Moose,02/13/2016 05:59:00 PM,10/08/2015,Adoption,NaN,Dog,Anatol Shepherd/Labrador Retriever,Buff,Feb,2016,Neutered,Male,4,months

### Marking missing values as NaN and Transforming columns individually

We will look at the short and rare strings and determine if some of them represent missing values.

In [8]:
def get_short_strings(df : pd.DataFrame, thr = 5):
    result = {'Column' : [], 'Short strings' : []}
    for col in df.columns:
        tmp = df.loc[df[col].str.len() < thr, col].value_counts().tail(10).index.to_list()
        if len(tmp):
            result['Column'].append(col)
            result['Short strings'].append(tmp)
    result = pd.DataFrame(result)
    return pd.concat([result['Column'], result['Short strings'].apply(pd. Series)], axis=1).fillna('')

display('Intakes', get_short_strings(intake_df))
display('Outcomes', get_short_strings(outcome_df))

'Intakes'

,Column,0,1,2,3,4,5,6,7,8,9
0,Name,Fito,Putz,Reye,*Rhi,201,Edy,141,Krea,*Sir,*Tj
1,Intake Condition,Sick,Aged,,,,,,,,
2,Animal Type,Dog,Cat,Bird,,,,,,,
3,Breed,Pbgv,Rex,Pig,Hawk,Owl,Emu,Goat,Frog,Deer,Tosa
4,Color,Tan,Blue,Red,Gray,Buff,Fawn,Gold,Pink,,
5,Month,May,June,July,,,,,,,
6,Year,2014,2016,2017,2018,2021,2022,2023,2020,2024,2013
7,Sex,Male,,,,,,,,,
8,AgeNum,18,19,20,22,25,28,23,30,21,24
9,AgeUnit,year,days,week,day,,,,,,

'Outcomes'

,Column,0,1,2,3,4,5,6,7,8,9
0,Name,Ski,059,Xiqi,Mumo,R7,E.S.,Rexx,*Zan,B.C.,089
1,Outcome Type,Died,Lost,,,,,,,,
2,Outcome Subtype,Snr,SCRP,Prc,Barn,Emer,,,,,
3,Animal Type,Dog,Cat,Bird,,,,,,,
4,Breed,Dove,Pbgv,Rex,Pig,Hawk,Owl,Emu,Deer,Goat,Frog
5,Color,Tan,Blue,Red,Gray,Buff,Fawn,Gold,Pink,,
6,Month,Aug,Oct,Sep,May,Dec,Nov,Mar,Jan,Apr,Feb
7,Year,2015,2016,2017,2018,2021,2022,2023,2020,2024,2013
8,Sex,Male,,,,,,,,,
9,AgeNum,18,19,20,22,25,28,23,30,24,21
10,AgeUnit,year,days,week,day,,,,,,

There are no suspicious values like 'Unknown', that would usually represent missing values. Note that we have reduced unknowns in 'Sex' column by explicitly extracting strings 'male' and 'female'.

Other thing we can do is to check for numeric symbols in names, as it is common to place ID for missing names.

In [9]:
num_in_name_intake = intake_df['Name'].str.contains(r'\d', na=False)

display(intake_df[num_in_name_intake])
display(intake_df[num_in_name_intake & (intake_exp['Animal ID'] != intake_exp['Name'])])

,Animal ID,Name,DateTime,Found Location,Intake Type,Intake Condition,Animal Type,Breed,Color,Month,Year,Sterelization,Sex,AgeNum,AgeUnit
18,A856107,A856107,04/28/2022 11:56:00 AM,4700 Prock Lane in Austin (TX),Stray,Normal,Cat,Domestic Shorthair Mix,Black/White,April,2022,Intact,Male,1,month
25,A881801,A881801,05/26/2023 05:12:00 PM,4905 Lexington Meadow Lane in Travis (TX),Stray,Normal,Cat,Domestic Shorthair Mix,Calico,May,2023,Intact,Female,1,week
136,A882562,A882562,06/06/2023 11:36:00 AM,2008 Enfield Rd in Austin (TX),Stray,Normal,Cat,Domestic Medium Hair,Brown Tabby/White,June,2023,Intact,Male,3,weeks
140,A906884,A906884,06/08/2024 01:46:00 PM,21210 Cherry Hollow in Travis (TX),Stray,Sick,Cat,Domestic Shorthair Mix,Brown Tabby,June,2024,Intact,Male,1,month
154,A848445,A848445,12/20/2021 03:23:00 PM,2409 Sanders Lane in Austin (TX),Stray,Normal,Dog,Chihuahua Shorthair Mix,Brown/Black,December,2021,Intact,Female,3,weeks
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
167128,A914166,210 Grams,09/26/2024 04:39:00 PM,City Park Road in Austin (TX),Stray,Normal,Cat,Domestic Shorthair,White,September,2024,Intact,Male,2,weeks
167130,A914161,181 Grams,09/26/2024 04:39:00 PM,City Park Road in Austin (TX),Stray,Normal,Cat,Domestic Shorthair,White,September,2024,Intact,Male,2,weeks
167133,A914162,Trap 18,09/26/2024 06:50:00 PM,Austin (TX),Stray,Normal,Cat,Domestic Shorthair,Black,September,2024,Neutered,Male,8,months
167443,A914619,102 Grams,10/04/2024 07:33:00 AM,Barrington Way in Austin (TX),Stray,Neonatal,Cat,Domestic Shorthair,Brown Tabby,October,2024,Intact,Female,2,days
167445,A880908,A880908,10/04/2024 11:13:00 AM,1215 West Slaughter Lane in Austin (TX),Stray,Normal,Dog,Australian Cattle Dog/Labrador Retriever,White/Tan,October,2024,Neutered,Male,1,year

NameError: name 'intake_exp' is not defined

In [ ]:
outcome_exp[outcome_df['Name'].str.contains(r'\d+', na=False)]

As we can see, there are many pets with IDs as their names, also there are some names containing numbers. Most of them look like the weight of a found pet or number of a trap, where they were found, so we will mark them NaN too.

After putting nulls into right places we will remove asterisk from names.
We will also delete 'A' at the start of ID, so it will be convertible to integer.

Let's focus on 'Outcome type' feature.

In [ ]:
outcome_df['Outcome Type'].value_counts()

There are two points to notice, first 'Missing' value, we will convert it into null later, and two categories 'Rto-Adopt' and 'Return to Owner'. RTO stands for ['Return to owner'](https://humanepro.org/blog/return-owner), so basically they represent the same category, we will merge 'Rto-Adopt' into 'Return to Owner'.

In [ ]:
def name_transformer(df : pd.DataFrame, **kwargs) -> pd.DataFrame:
    df.loc[df['Name'].str.contains(r'\d', na=False), 'Name'] = np.nan
    df['Name'] = df['Name'].str.findall(r'([^\*])').str.join('')
    return df

def id_transformer(df : pd.DataFrame, **kwargs) -> pd.DataFrame:
    df['Animal ID'] = df['Animal ID'].str.extract(r'A(\d+)')
    return df

def outcome_type_transformer(df : pd.DataFrame, dataset, **kwargs) -> pd.DataFrame:
    if dataset != 'Outcome':
        return df
    df['Outcome Type'] = df['Outcome Type'].replace({
        'Missing' : np.nan,
        'Rto-Adopt' : 'Return to Owner'
    })
    return df

In [ ]:
transform_pipe = pipeline(
    id_transformer,
    name_transformer,
    outcome_type_transformer
)

transform_pipe(outcome_df, dataset='Outcome')