# Dom√°c√≠ √∫kol ƒç. 1 - üïµÔ∏è‚Äç‚ôÄÔ∏è Exploraƒçn√≠ anal√Ωza dat

## üìö Data
V souborech `intakes.csv` a `outcomes.csv` naleznete data z √∫tulku ve mƒõstƒõ Austin, Texas USA. Data poch√°zej√≠ z ofici√°ln√≠ho [zdroje otev≈ôen√Ωch dat mƒõsta Austin](https://data.austintexas.gov/).

Dataset [intakes](https://data.austintexas.gov/Health-and-Community-Services/Austin-Animal-Center-Intakes/wter-evkm) obsahuje data o p≈ôijat√Ωch zv√≠≈ôatech od 1. 10. 2013 do 6. 10. 2024. Dataset [outcomes](https://data.austintexas.gov/Health-and-Community-Services/Austin-Animal-Center-Outcomes/9t4d-g238) obsahuje √∫daje o zv√≠≈ôatech, kter√° √∫tulek opustila (nap≈ô. byla adoptov√°na, vr√°cena majiteli a podobnƒõ) za tent√Ω≈æ ƒçasov√Ω interval. M≈Ø≈æe se st√°t, ≈æe zv√≠≈ôata p≈ôijat√° do 1. 10. 2013 se nevyskytuj√≠ v `intakes.csv` (data se je≈°tƒõ neshroma≈æƒèovala), ale budou m√≠t z√°znam v `outcomes.csv`, pokud √∫tulek po tomto datu opustila.

‚òùÔ∏è Ka≈æd√Ω dataset m≈Ø≈æe **stejn√© zv√≠≈ôe obsahovat v√≠ckr√°t** (1. nƒõkter√° zv√≠≈ôata se do √∫tulku vracela - to je trochu komplikace, pokud byste datasety chtƒõli spojit - pro ≈ôe≈°en√≠ √∫kolu spojov√°n√≠ ale nen√≠ nutn√©, 2. nƒõkter√© z√°znamy jsou duplicitn√≠ - ty m≈Ø≈æete odstranit, jedn√° se o chybu). 

## Zad√°n√≠
> ‚òùÔ∏è Pou≈æ√≠vejte markdown bu≈àky! Zd≈Øvod≈àujte v≈°echny d≈Øle≈æit√© kroky, popisujte vizualizace a co je z nich mo≈æn√© pozorovat. Za nep≈ôehledn√Ω dom√°c√≠ √∫kol nebudou udƒõleny body.

> ‚ùå Zkop√≠rovan√Ω k√≥d ze cviƒçen√≠ (p≈ôedev≈°√≠m ze cviƒçen√≠ 2) nebude uzn√°n!

> ‚ÄºÔ∏è Akceptovateln√Ω je √∫kol pouze v ƒçe≈°tinƒõ, sloven≈°tinƒõ nebo angliƒçtinƒõ.

Za ≈ô√°dn√© pr≈Øbƒõ≈æn√© komentov√°n√≠ a vizu√°ln√≠ prezentaci postupu a v√Ωsledk≈Ø lze z√≠skat a≈æ 3 body.

**‚ú® P≈ô√≠prava dat** (celkem 4 body)
* Importujte pot≈ôebn√© bal√≠ƒçky.
* Naƒçtƒõte si datasety intakes a outcomes z p≈ô√≠slu≈°n√Ωch csv soubor≈Ø.
* Seznamte se s obƒõma datasety a sv√° zji≈°tƒõn√≠ komentujte:
  * P≈ô√≠klad informac√≠, kter√© lze zjistit: poƒçet ≈ô√°dk≈Ø datasetu, poƒçet a v√Ωznam p≈ô√≠znak≈Ø, datov√Ω typ p≈ô√≠znak≈Ø a poƒçet jejich unik√°tn√≠ch hodnot, ...
* Vyƒçistƒõte a zkonvertujte data:
  * Zjistƒõte jak√Ωm zp≈Øsobem jsou v datasetu uv√°dƒõny chybƒõj√≠c√≠ hodnoty a v p≈ô√≠padƒõ pot≈ôeby je p≈ôepi≈°te na NaN.
  * Zkonvertujte kategorick√© p≈ô√≠znaky na typ category.
  * P≈ôeveƒète p≈ô√≠znak Age upon Intake/Outcome na numerick√Ω p≈ô√≠znak.
  * P≈ôeveƒète p≈ô√≠znak DateTime na typ datetime64.
  * Proveƒète v≈°echny dal≈°√≠ √∫pravy, kter√© v√°m d√°vaj√≠ smysl (konverze dal≈°√≠ch p≈ô√≠znak≈Ø, odstranƒõn√≠ duplicitn√≠ch √∫daj≈Ø, p≈ôid√°n√≠ nov√Ωch p≈ô√≠znak≈Ø, ...).
  
**üñäÔ∏è Deskriptivn√≠ statistiky** (celkem 6 bod≈Ø)

Volbu vhodn√Ωch statistik pro dan√Ω typ dat komentujte a pokud je to mo≈æn√©, vyu≈æ√≠vejte co nejv√≠ce vizualizace.
* Popi≈°te p≈ô√≠znaky Age upon Intake a DateTime (p≈Øvodnƒõ z datasetu intakes) pomoc√≠ univariaƒçn√≠ch deskriptivn√≠ch statistik.
* Vyberte si t≈ôi dal≈°√≠ p≈ô√≠znaky a popi≈°te je pomoc√≠ univariaƒçn√≠ch deskriptivn√≠ch statistik, kter√© jsou pro nƒõ vhodn√©.
* Vyberte si dva p≈ô√≠znaky, mezi kter√Ωmi by mohl b√Ωt nƒõjak√Ω vztah (nap≈ô. korelace) a popi≈°te tento vztah pomoc√≠ bivariaƒçn√≠ch deskriptivn√≠ch statistik. Dvojice typu Age upon Intake a Age upon Outcome neuzn√°v√°me.

**‚ùì Zadan√© ot√°zky** (2 body za ka≈ædou ot√°zku, celkem max. 6 bod≈Ø)

Pomoc√≠ vhodn√Ωch vizualizac√≠ odpov√≠dejte na n√°sleduj√≠c√≠ ot√°zky:
* Z√°vis√≠ typ odchodu zv√≠≈ôete z √∫tulku (Outcome Type) na typu p≈ô√≠chodu (Intake Type)? Pokud chcete, uva≈æujte pro zjednodu≈°en√≠ pouze zv√≠≈ôata, kter√° se v ka≈æd√©m datasetu vyskytuj√≠ pr√°vƒõ jednou.
* Hraje vƒõk zv√≠≈ôete roli p≈ôi adopci?
* Je p≈ô√≠jem zv√≠≈ôat v r√°mci roku konstantn√≠ nebo existuj√≠ obdob√≠ s vƒõt≈°√≠/ni≈æ≈°√≠ z√°tƒõ≈æ√≠?

K jedn√© ot√°zce m≈Ø≈æete v p≈ô√≠padƒõ pot≈ôeby vytvo≈ôit v√≠ce vizualizac√≠. V√Ωsledek vizualizace a v≈°echny mezikroky komentujte.

**‚ùì Vlastn√≠ ot√°zky** (2 body za ka≈ædou ot√°zku, celkem max. 6 bod≈Ø)

Vymyslete **minim√°lnƒõ t≈ôi** vlastn√≠ ot√°zky a odpov√≠dejte na nƒõ vhodn√Ωmi vizualizacemi. Ot√°zky m≈Ø≈æete postavit na ji≈æ zm√≠nƒõn√Ωch datasetech. Tak√© je mo≈æn√© vyu≈æ√≠t t≈ôet√≠ dataset [locations](https://data.austintexas.gov/Health-and-Community-Services/Austin-Animal-Center-Found-Pets-Map/hye6-gvq2), kter√Ω naleznete v souboru locations.csv, nebo si m≈Ø≈æete st√°hnout nƒõjak√° dal≈°√≠ zaj√≠mav√° data, kter√° souvis√≠ s t√≠mto t√©matem.

Dataset locations poskytuje informace o v≈°ech toulav√Ωch koƒçk√°ch a psech, kter√© jsou v datab√°zi √∫tulku **m√©nƒõ ne≈æ t√Ωden**. Vƒõt≈°ina se nach√°z√≠ v √∫tulku, ale ƒç√°st z nich je u dobrovoln√≠k≈Ø ‚Äì tato informace je uvedena ve sloupci At AAC (AAC ‚Äì Austin Animal Center).

### Bodov√© hodnocen√≠
Shrnut√≠ bod≈Ø, kter√© m≈Ø≈æete nejv√Ω≈°e z√≠skat:
- 3 body za koment√°≈ôe a vizu√°ln√≠ prezentaci postupu a v√Ωsledk≈Ø,
- 4 body za p≈ô√≠pravu dat,
- 6 bod≈Ø za deskriptivn√≠ statistiku,
- 6 bod≈Ø za zodpovƒõzen√≠ v≈°ech zadan√Ωch ot√°zek,
- 6 bod≈Ø za definici a zodpovƒõzen√≠ minim√°lnƒõ t≈ô√≠ vlastn√≠ch ot√°zek.

Celkem lze za dom√°c√≠ √∫kol ƒç. 1 z√≠skat maxim√°lnƒõ 25 bod≈Ø.

# Homework

## Importing modules & reading CSVs

In [1]:
import numpy as np
import pandas as pd

import matplotlib as mpl
import matplotlib.pyplot as plt
import matplotlib.ticker as ticker
import seaborn as sns
%matplotlib inline

In [2]:
intakes_raw  = pd.read_csv('intakes.csv');
outcomes_raw = pd.read_csv('outcomes.csv');

display(intakes_raw.head())
display(outcomes_raw.head())

,Animal ID,Name,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
0,A786884,*Brock,01/03/2019 04:19:00 PM,January 2019,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor
1,A706918,Belle,07/05/2015 12:59:00 PM,July 2015,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver
2,A724273,Runster,04/14/2016 06:43:00 PM,April 2016,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White
3,A665644,NaN,10/21/2013 07:59:00 AM,October 2013,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico
4,A857105,Johnny Ringo,05/12/2022 12:23:00 AM,May 2022,4404 Sarasota Drive in Austin (TX),Public Assist,Normal,Cat,Neutered Male,2 years,Domestic Shorthair,Orange Tabby

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
0,A882831,*Hamilton,07/01/2023 06:12:00 PM,Jul 2023,03/25/2023,Adoption,NaN,Cat,Neutered Male,3 months,Domestic Shorthair Mix,Black/White
1,A794011,Chunk,05/08/2019 06:20:00 PM,May 2019,05/02/2017,Rto-Adopt,NaN,Cat,Neutered Male,2 years,Domestic Shorthair Mix,Brown Tabby/White
2,A776359,Gizmo,07/18/2018 04:02:00 PM,Jul 2018,07/12/2017,Adoption,NaN,Dog,Neutered Male,1 year,Chihuahua Shorthair Mix,White/Brown
3,A821648,NaN,08/16/2020 11:38:00 AM,Aug 2020,08/16/2019,Euthanasia,NaN,Other,Unknown,1 year,Raccoon,Gray
4,A720371,Moose,02/13/2016 05:59:00 PM,Feb 2016,10/08/2015,Adoption,NaN,Dog,Neutered Male,4 months,Anatol Shepherd/Labrador Retriever,Buff

## Data preprocessing

Firstly we will import libraries and read files.

We will delete duplicated rows, so all further EDA will be correct.

In [3]:
print(f"Duplicated intakes:  {intakes_raw.duplicated().sum()}")
intakes_raw = intakes_raw.drop_duplicates()

print(f"Duplicated outcomes:  {outcomes_raw.duplicated().sum()}")
outcomes_raw = outcomes_raw.drop_duplicates()

Duplicated intakes:  32
Duplicated outcomes:  24

Now we will analyze intakes

In [4]:
def better_info(df):
    return pd.DataFrame({'NUnique' : df.nunique(), 'NaN%' : df.isna().mean() * 100 , 'Dtype' : df.dtypes})

print('Intakes',f"Number of features: {intakes_raw.shape[1]}", f"Number of samples: {intakes_raw.shape[0]}", '', sep='\n')
display(better_info(intakes_raw))

print('Outcomes', f"Number of features: {outcomes_raw.shape[1]}", f"Number of samples: {outcomes_raw.shape[0]}", '', sep='\n')
display(better_info(outcomes_raw))

Intakes
Number of features: 12
Number of samples: 167524

                  NUnique       NaN%   Dtype
Animal ID          150561   0.000000  object
Name                29042  28.779757  object
DateTime           115549   0.000000  object
MonthYear             133   0.000000  object
Found Location      67994   0.000000  object
Intake Type             6   0.000000  object
Intake Condition       20   0.000000  object
Animal Type             5   0.000000  object
Sex upon Intake         5   0.001194  object
Age upon Intake        55   0.000597  object
Breed                2966   0.000000  object
Color                 650   0.000000  object

Outcomes
Number of features: 12
Number of samples: 167535

                  NUnique       NaN%   Dtype
Animal ID          150558   0.000000  object
Name                28979  28.697287  object
DateTime           139792   0.000000  object
MonthYear             133   0.000000  object
Date of Birth        8486   0.000000  object
Outcome Type           11   0.026263  object
Outcome Subtype        26  54.065121  object
Animal Type             5   0.000000  object
Sex upon Outcome        5   0.001791  object
Age upon Outcome       55   0.028054  object
Breed                2964   0.000000  object
Color                 653   0.000000  object

### Extracting features

We will expand features like Age and Sex upon Income/Outcome for ease of analysis.

All transformations will be done in functions, so it will be possible to replicate them on both datasets. Then those functions will be stacked into pipeline.

Pipeline function is taken from [here](https://dzone.com/articles/python-function-pipelines-streamlining-data-proces)

In [5]:
import re

# Pipeline takes multiple functions as argument and returns an inner function
def pipeline(*funcs):
    def inner(data, **kwargs):
        result = data
        # Iterate thru every function
        for func in funcs:
            result = func(result, **kwargs)
        return result
    return inner

# Ensures immutability on pipeline level
def copy(df : pd.DataFrame, **kwargs) -> pd.DataFrame:
    return df.copy()

In [6]:
def extract_month_year(df : pd.DataFrame, **kwargs) -> pd.DataFrame:
    month_year = df['MonthYear'].str.extract(r'(\S+) (\S+)')
    df.loc[:, ['Month', 'Year']] = None
    df.loc[:,'Month'] = month_year[0]
    df.loc[:,'Year'] = month_year[1]
    df.drop(columns=['MonthYear'], inplace=True)
    return df

def expand_sex(df : pd.DataFrame, dataset, **kwargs) -> pd.DataFrame:
    col = f"Sex upon {dataset}"
    sterelization_sex = df[col].str.extract(r'(\S+) (male|female)', re.IGNORECASE)
    df.loc[:, ['Sterelization', 'Sex']] = None
    df.loc[:,'Sterelization'] = sterelization_sex[0]
    df.loc[:,'Sex'] = sterelization_sex[1]
    df.drop(columns=[col], inplace=True)
    return df

def expand_age(df : pd.DataFrame, dataset, **kwargs) -> pd.DataFrame:
    col = f"Age upon {dataset}"
    age_unit = df[col].str.extract(r'(\d+) (\S+)')
    df.loc[:, ['AgeNum', 'AgeUnit']] = None
    df.loc[:, 'AgeNum'] = age_unit[0]
    df.loc[:, 'AgeUnit'] = age_unit[1]
    df.drop(columns=[col], inplace=True)
    return df

def extract_mix(df : pd.DataFrame, **kwargs) -> pd.DataFrame:
    df['IsMixed'] = df['Breed'].str.contains(r'mix', flags=re.IGNORECASE)
    return df

In [7]:
extract = pipeline(
    extract_month_year,
    extract_mix,
    expand_sex,
    expand_age
)

outcome_df = extract(outcomes_raw.copy(), dataset='Outcome')
intake_df = extract(intakes_raw.copy(), dataset='Intake')
display(intake_df.head(), outcome_df.head())

,Animal ID,Name,DateTime,Found Location,Intake Type,Intake Condition,Animal Type,Breed,Color,Month,Year,IsMixed,Sterelization,Sex,AgeNum,AgeUnit
0,A786884,*Brock,01/03/2019 04:19:00 PM,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Beagle Mix,Tricolor,January,2019,True,Neutered,Male,2,years
1,A706918,Belle,07/05/2015 12:59:00 PM,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,English Springer Spaniel,White/Liver,July,2015,False,Spayed,Female,8,years
2,A724273,Runster,04/14/2016 06:43:00 PM,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Basenji Mix,Sable/White,April,2016,True,Intact,Male,11,months
3,A665644,NaN,10/21/2013 07:59:00 AM,Austin (TX),Stray,Sick,Cat,Domestic Shorthair Mix,Calico,October,2013,True,Intact,Female,4,weeks
4,A857105,Johnny Ringo,05/12/2022 12:23:00 AM,4404 Sarasota Drive in Austin (TX),Public Assist,Normal,Cat,Domestic Shorthair,Orange Tabby,May,2022,False,Neutered,Male,2,years

,Animal ID,Name,DateTime,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Breed,Color,Month,Year,IsMixed,Sterelization,Sex,AgeNum,AgeUnit
0,A882831,*Hamilton,07/01/2023 06:12:00 PM,03/25/2023,Adoption,NaN,Cat,Domestic Shorthair Mix,Black/White,Jul,2023,True,Neutered,Male,3,months
1,A794011,Chunk,05/08/2019 06:20:00 PM,05/02/2017,Rto-Adopt,NaN,Cat,Domestic Shorthair Mix,Brown Tabby/White,May,2019,True,Neutered,Male,2,years
2,A776359,Gizmo,07/18/2018 04:02:00 PM,07/12/2017,Adoption,NaN,Dog,Chihuahua Shorthair Mix,White/Brown,Jul,2018,True,Neutered,Male,1,year
3,A821648,NaN,08/16/2020 11:38:00 AM,08/16/2019,Euthanasia,NaN,Other,Raccoon,Gray,Aug,2020,False,NaN,NaN,1,year
4,A720371,Moose,02/13/2016 05:59:00 PM,10/08/2015,Adoption,NaN,Dog,Anatol Shepherd/Labrador Retriever,Buff,Feb,2016,False,Neutered,Male,4,months

### Marking missing values as NaN and Transforming columns individually

We will look at the short and rare strings and determine if some of them represent missing values.

In [8]:
def get_short_strings(df : pd.DataFrame, thr = 5):
    result = {'Column' : [], 'Short strings' : []}
    for col in df.columns:
        if df.dtypes[col] != object: continue
        tmp = df.loc[df[col].str.len() < thr, col].value_counts().tail(10).index.to_list()
        if len(tmp):
            result['Column'].append(col)
            result['Short strings'].append(tmp)
    result = pd.DataFrame(result)
    return pd.concat([result['Column'], result['Short strings'].apply(pd. Series)], axis=1).fillna('')

display('Intakes', get_short_strings(intake_df))
display('Outcomes', get_short_strings(outcome_df))

'Intakes'

,Column,0,1,2,3,4,5,6,7,8,9
0,Name,Fito,Putz,Reye,*Rhi,201,Edy,141,Krea,*Sir,*Tj
1,Intake Condition,Sick,Aged,,,,,,,,
2,Animal Type,Dog,Cat,Bird,,,,,,,
3,Breed,Pbgv,Rex,Pig,Hawk,Owl,Emu,Goat,Frog,Deer,Tosa
4,Color,Tan,Blue,Red,Gray,Buff,Fawn,Gold,Pink,,
5,Month,May,June,July,,,,,,,
6,Year,2014,2016,2017,2018,2021,2022,2023,2020,2024,2013
7,Sex,Male,,,,,,,,,
8,AgeNum,18,19,20,22,25,28,23,30,21,24
9,AgeUnit,year,days,week,day,,,,,,

'Outcomes'

,Column,0,1,2,3,4,5,6,7,8,9
0,Name,Ski,059,Xiqi,Mumo,R7,E.S.,Rexx,*Zan,B.C.,089
1,Outcome Type,Died,Lost,,,,,,,,
2,Outcome Subtype,Snr,SCRP,Prc,Barn,Emer,,,,,
3,Animal Type,Dog,Cat,Bird,,,,,,,
4,Breed,Dove,Pbgv,Rex,Pig,Hawk,Owl,Emu,Deer,Goat,Frog
5,Color,Tan,Blue,Red,Gray,Buff,Fawn,Gold,Pink,,
6,Month,Aug,Oct,Sep,May,Dec,Nov,Mar,Jan,Apr,Feb
7,Year,2015,2016,2017,2018,2021,2022,2023,2020,2024,2013
8,Sex,Male,,,,,,,,,
9,AgeNum,18,19,20,22,25,28,23,30,24,21
10,AgeUnit,year,days,week,day,,,,,,

There are no suspicious values like '???' or '_', that would usually represent missing values. Note that we have reduced unknowns in 'Sex' column by explicitly extracting strings 'male' and 'female'.

Other thing we can do is to check for numeric symbols in names, as it is common to place ID for missing names.

In [9]:
num_in_name_intake = intake_df['Name'].str.contains(r'\d', na=False)

display(intake_df[num_in_name_intake])
display(intake_df[num_in_name_intake & (intake_df['Animal ID'] != intake_df['Name'])])

,Animal ID,Name,DateTime,Found Location,Intake Type,Intake Condition,Animal Type,Breed,Color,Month,Year,IsMixed,Sterelization,Sex,AgeNum,AgeUnit
18,A856107,A856107,04/28/2022 11:56:00 AM,4700 Prock Lane in Austin (TX),Stray,Normal,Cat,Domestic Shorthair Mix,Black/White,April,2022,True,Intact,Male,1,month
25,A881801,A881801,05/26/2023 05:12:00 PM,4905 Lexington Meadow Lane in Travis (TX),Stray,Normal,Cat,Domestic Shorthair Mix,Calico,May,2023,True,Intact,Female,1,week
136,A882562,A882562,06/06/2023 11:36:00 AM,2008 Enfield Rd in Austin (TX),Stray,Normal,Cat,Domestic Medium Hair,Brown Tabby/White,June,2023,False,Intact,Male,3,weeks
140,A906884,A906884,06/08/2024 01:46:00 PM,21210 Cherry Hollow in Travis (TX),Stray,Sick,Cat,Domestic Shorthair Mix,Brown Tabby,June,2024,True,Intact,Male,1,month
154,A848445,A848445,12/20/2021 03:23:00 PM,2409 Sanders Lane in Austin (TX),Stray,Normal,Dog,Chihuahua Shorthair Mix,Brown/Black,December,2021,True,Intact,Female,3,weeks
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
167128,A914166,210 Grams,09/26/2024 04:39:00 PM,City Park Road in Austin (TX),Stray,Normal,Cat,Domestic Shorthair,White,September,2024,False,Intact,Male,2,weeks
167130,A914161,181 Grams,09/26/2024 04:39:00 PM,City Park Road in Austin (TX),Stray,Normal,Cat,Domestic Shorthair,White,September,2024,False,Intact,Male,2,weeks
167133,A914162,Trap 18,09/26/2024 06:50:00 PM,Austin (TX),Stray,Normal,Cat,Domestic Shorthair,Black,September,2024,False,Neutered,Male,8,months
167443,A914619,102 Grams,10/04/2024 07:33:00 AM,Barrington Way in Austin (TX),Stray,Neonatal,Cat,Domestic Shorthair,Brown Tabby,October,2024,False,Intact,Female,2,days
167445,A880908,A880908,10/04/2024 11:13:00 AM,1215 West Slaughter Lane in Austin (TX),Stray,Normal,Dog,Australian Cattle Dog/Labrador Retriever,White/Tan,October,2024,False,Neutered,Male,1,year

,Animal ID,Name,DateTime,Found Location,Intake Type,Intake Condition,Animal Type,Breed,Color,Month,Year,IsMixed,Sterelization,Sex,AgeNum,AgeUnit
238,A784391,#9 Cassidy,11/15/2018 05:09:00 PM,13408 Frostdale Dr in Travis (TX),Public Assist,Nursing,Dog,Pit Bull Mix,Blue/White,November,2018,True,Intact,Female,0,years
242,A909207,149 Grams,07/11/2024 02:49:00 PM,8800 N Ih 35 in Austin (TX),Stray,Neonatal,Cat,Domestic Shorthair,Brown Tabby,July,2024,False,Intact,Female,1,weeks
485,A853189,113 Grams,03/15/2022 07:16:00 AM,11000 Slaughter Creek Dr in Austin (TX),Stray,Sick,Cat,Domestic Shorthair,Brown Tabby/White,March,2022,False,Intact,Male,2,days
528,A902145,92 Grams,04/13/2024 01:48:00 PM,5617 Jfk in Travis (TX),Stray,Neonatal,Cat,Domestic Shorthair,White/Black,April,2024,False,Intact,Female,0,years
803,A758131,096,09/11/2017 04:54:00 PM,Outside Jurisdiction,Public Assist,Normal,Dog,Pit Bull Mix,Black Brindle/White,September,2017,True,Intact,Male,1,year
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
167124,A914163,184 Grams,09/26/2024 04:39:00 PM,City Park Road in Austin (TX),Stray,Normal,Cat,Domestic Shorthair,Brown Tabby,September,2024,False,Intact,Male,2,weeks
167128,A914166,210 Grams,09/26/2024 04:39:00 PM,City Park Road in Austin (TX),Stray,Normal,Cat,Domestic Shorthair,White,September,2024,False,Intact,Male,2,weeks
167130,A914161,181 Grams,09/26/2024 04:39:00 PM,City Park Road in Austin (TX),Stray,Normal,Cat,Domestic Shorthair,White,September,2024,False,Intact,Male,2,weeks
167133,A914162,Trap 18,09/26/2024 06:50:00 PM,Austin (TX),Stray,Normal,Cat,Domestic Shorthair,Black,September,2024,False,Neutered,Male,8,months
167443,A914619,102 Grams,10/04/2024 07:33:00 AM,Barrington Way in Austin (TX),Stray,Neonatal,Cat,Domestic Shorthair,Brown Tabby,October,2024,False,Intact,Female,2,days

In [10]:
outcome_df[outcome_df['Name'].str.contains(r'\d+', na=False)]

,Animal ID,Name,DateTime,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Breed,Color,Month,Year,IsMixed,Sterelization,Sex,AgeNum,AgeUnit
28,A878380,A878380,04/15/2023 10:15:00 AM,04/11/2021,Euthanasia,Suffering,Cat,Siamese Mix,Lilac Point,Apr,2023,True,Intact,Male,2,years
37,A886502,A886502,08/09/2023 12:13:00 PM,07/01/2023,Return to Owner,NaN,Dog,Pit Bull,Chocolate,Aug,2023,False,Intact,Female,1,month
55,A851472,A851472,02/17/2022 12:46:00 PM,09/13/2020,Transfer,Partner,Dog,Cairn Terrier Mix,Tan/White,Feb,2022,True,Intact,Male,1,year
72,A839936,A839936,08/02/2021 05:57:00 PM,05/29/2021,Adoption,NaN,Dog,Labrador Retriever,Black/White,Aug,2021,False,Neutered,Male,2,months
104,A859541,A859541,06/20/2022 08:39:00 PM,06/08/2022,Died,In Kennel,Dog,German Shepherd Mix,Black/Brown,Jun,2022,True,Intact,Female,1,weeks
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
167257,A835145,A835145,05/24/2021 12:06:00 PM,05/23/2021,Transfer,Partner,Cat,Domestic Shorthair,Brown Tabby,May,2021,False,Intact,Female,1,day
167269,A911726,A911726,08/25/2024 12:00:00 AM,08/16/2024,Died,In Foster,Cat,Domestic Shorthair,Blue,Aug,2024,False,Intact,Female,1,weeks
167299,A852775,A852775,05/18/2022 02:13:00 PM,01/31/2022,Adoption,Foster,Cat,Domestic Medium Hair Mix,Tortie,May,2022,True,Spayed,Female,3,months
167314,A854626,A854626,05/03/2022 04:10:00 PM,02/27/2022,Adoption,Foster,Cat,Domestic Shorthair Mix,Orange Tabby,May,2022,True,Neutered,Male,2,months
167478,A914619,102 Grams,10/04/2024 11:46:00 AM,10/02/2024,Transfer,Partner,Cat,Domestic Shorthair,Brown Tabby,Oct,2024,False,Intact,Female,2,days

As we can see, there are many pets with IDs as their names, also there are some names containing numbers. Most of them look like the weight of a found pet or number of a trap, where they were found, so we will mark them NaN too.

After putting nulls into right places we will remove asterisk from names.
We will also delete 'A' at the start of ID, so it will be convertible to integer.

Let's focus on 'Outcome type' feature.

In [11]:
outcome_df['Outcome Type'].value_counts()

Outcome Type
Adoption           80714
Transfer           47395
Return to Owner    25199
Euthanasia         10459
Died                1583
Rto-Adopt           1186
Disposal             831
Missing               89
Relocate              27
Stolen                 5
Lost                   3
Name: count, dtype: int64

There are two points to notice, first 'Missing' value, we will convert it into null later, and two categories 'Rto-Adopt' and 'Return to Owner'. RTO stands for ['Return to owner'](https://humanepro.org/blog/return-owner), so basically they represent the same category, we will merge 'Rto-Adopt' into 'Return to Owner'.

Lastly we will check common missing values.

In [12]:
MISSING_STRINGS = [ 'unknown', 'missing', 'novalue', 'no value', 'nodata', 'no data']

df = pd.DataFrame(columns=MISSING_STRINGS, index=list(outcome_df.columns) + ['Total'])

for pat in MISSING_STRINGS:
    counter = 0
    for col in outcome_df.select_dtypes(object).columns:
        df.loc[col, pat] = (outcome_df[col].str.lower() == pat).sum()
        counter += df.loc[col, pat]
    df.loc['Total', pat] = counter
df

                unknown missing novalue no value nodata no data
Animal ID             0       0       0        0      0       0
Name                 73       0       0        0      0       0
DateTime              0       0       0        0      0       0
Date of Birth         0       0       0        0      0       0
Outcome Type          0      89       0        0      0       0
Outcome Subtype       0       0       0        0      0       0
Animal Type           0       0       0        0      0       0
Breed                 3       0       0        0      0       0
Color                 1       0       0        0      0       0
Month                 0       0       0        0      0       0
Year                  0       0       0        0      0       0
IsMixed             NaN     NaN     NaN      NaN    NaN     NaN
Sterelization         0       0       0        0      0       0
Sex                   0       0       0        0      0       0
AgeNum                0       0       0        0      0       0
AgeUnit               0       0       0        0      0       0
Total                77      89       0        0      0       0

There are some values marked as 'Unknown' in different columns, we will mark them NaN.

In [13]:
def name_transformer(df : pd.DataFrame, **kwargs) -> pd.DataFrame:
    df.loc[df['Name'].str.contains(r'\d', na=False), 'Name'] = np.nan
    df['Name'] = df['Name'].str.findall(r'([^\*])').str.join('')
    return df

def id_transformer(df : pd.DataFrame, **kwargs) -> pd.DataFrame:
    df['Animal ID'] = df['Animal ID'].str.extract(r'A(\d+)')
    return df

def outcome_type_transformer(df : pd.DataFrame, dataset, **kwargs) -> pd.DataFrame:
    if dataset != 'Outcome':
        return df
    df['Outcome Type'] = df['Outcome Type'].replace({
        'Missing' : np.nan,
        'Rto-Adopt' : 'Return to Owner'
    })
    return df

def unknown_deleter(df : pd.DataFrame, **kwargs) -> pd.DataFrame:
    df.replace({'Unknown' : np.nan}, inplace=True)
    return df

In [14]:
transform = pipeline(
    id_transformer,
    name_transformer,
    outcome_type_transformer,
    unknown_deleter
)

display(
    transform(outcome_df, dataset='Outcome').head(),
    transform(intake_df, dataset='Intake').head()
)

,Animal ID,Name,DateTime,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Breed,Color,Month,Year,IsMixed,Sterelization,Sex,AgeNum,AgeUnit
0,882831,Hamilton,07/01/2023 06:12:00 PM,03/25/2023,Adoption,NaN,Cat,Domestic Shorthair Mix,Black/White,Jul,2023,True,Neutered,Male,3,months
1,794011,Chunk,05/08/2019 06:20:00 PM,05/02/2017,Return to Owner,NaN,Cat,Domestic Shorthair Mix,Brown Tabby/White,May,2019,True,Neutered,Male,2,years
2,776359,Gizmo,07/18/2018 04:02:00 PM,07/12/2017,Adoption,NaN,Dog,Chihuahua Shorthair Mix,White/Brown,Jul,2018,True,Neutered,Male,1,year
3,821648,NaN,08/16/2020 11:38:00 AM,08/16/2019,Euthanasia,NaN,Other,Raccoon,Gray,Aug,2020,False,NaN,NaN,1,year
4,720371,Moose,02/13/2016 05:59:00 PM,10/08/2015,Adoption,NaN,Dog,Anatol Shepherd/Labrador Retriever,Buff,Feb,2016,False,Neutered,Male,4,months

,Animal ID,Name,DateTime,Found Location,Intake Type,Intake Condition,Animal Type,Breed,Color,Month,Year,IsMixed,Sterelization,Sex,AgeNum,AgeUnit
0,786884,Brock,01/03/2019 04:19:00 PM,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Beagle Mix,Tricolor,January,2019,True,Neutered,Male,2,years
1,706918,Belle,07/05/2015 12:59:00 PM,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,English Springer Spaniel,White/Liver,July,2015,False,Spayed,Female,8,years
2,724273,Runster,04/14/2016 06:43:00 PM,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Basenji Mix,Sable/White,April,2016,True,Intact,Male,11,months
3,665644,NaN,10/21/2013 07:59:00 AM,Austin (TX),Stray,Sick,Cat,Domestic Shorthair Mix,Calico,October,2013,True,Intact,Female,4,weeks
4,857105,Johnny Ringo,05/12/2022 12:23:00 AM,4404 Sarasota Drive in Austin (TX),Public Assist,Normal,Cat,Domestic Shorthair,Orange Tabby,May,2022,False,Neutered,Male,2,years

### Correcting data types

Let's take a look at the data that we have processed so far

In [15]:
display(better_info(outcome_df))

                 NUnique       NaN%   Dtype
Animal ID         150558   0.000000  object
Name               20119  31.454323  object
DateTime          139792   0.000000  object
Date of Birth       8486   0.000000  object
Outcome Type           9   0.079386  object
Outcome Subtype       26  54.065121  object
Animal Type            5   0.000000  object
Breed               2963   0.001791  object
Color                652   0.000597  object
Month                 12   0.000000  object
Year                  12   0.000000  object
IsMixed                2   0.000000    bool
Sterelization          3   7.761363  object
Sex                    2   7.761363  object
AgeNum                28   0.028054  object
AgeUnit                8   0.028054  object

We will turn Age into integer, we will use granularity of a day and then calculate age with granularity of a month and a year.

'Animal ID' and 'Year' will be turned into integer as well.

Next we will turn 'DateTime' and 'Date of Birth' into datetime64.

Sterelization will be turned into bool, with true pet being neutered or spayed.

Breed and Color will be left as strings as they are not really categorical, but a collection of highly cluttered categories. It will be easier to work with them as a single highly inoformative strings.

In [16]:
tmp = outcome_df[['AgeUnit', 'AgeNum']].copy()
tmp['AgeNum'] = tmp['AgeNum'].astype('Int64')
tmp.groupby('AgeUnit').agg(['min', 'max'])

        AgeNum
           min max
AgeUnit
day          1   1
days         2   6
month        1   1
months       2  11
week         1   1
weeks        1   5
year         1   1
years        0  30

In [17]:
pd.set_option("future.no_silent_downcasting", True)

def age_type(df : pd.DataFrame, **kwargs) -> pd.DataFrame:
    MULTIPLIER = { 'day' : 1, 'week' : 7, 'month' : 30, 'year' : 365}
    mult = df['AgeUnit'].str.extract(r'(day|week|month|year)', expand=False).replace(MULTIPLIER).astype('Int32')
    df['AgeDays'] = df['AgeNum'].astype('Int32') * mult
    df['AgeMonths'] = df['AgeDays'] // 30
    df['AgeYears'] = df['AgeDays'] // 365
    df.drop(columns=['AgeUnit', 'AgeNum'], errors='ignore', inplace=True)
    return df

def id_type(df : pd.DataFrame, **kwargs) -> pd.DataFrame:
    df['Animal ID'] = df['Animal ID'].astype(np.int32)
    return df

def year_type(df : pd.DataFrame, **kawrgs) -> pd.DataFrame:
    df['Year'] = df['Year'].astype(np.int32)
    return df

def datetime_types(df : pd.DataFrame, dataset, **kwargs) -> pd.DataFrame:
    df['DateTime'] = pd.to_datetime(df['DateTime'], format='%m/%d/%Y %I:%M:%S %p')
    if dataset == 'Outcome':
        df['Date of Birth'] = pd.to_datetime(df['Date of Birth'], format='%m/%d/%Y')
    return df

def sterelization_type(df : pd.DataFrame, **kwargs) -> pd.DataFrame:
    df['IsSterelized'] = df['Sterelization'].str.contains('Intact', flags=re.IGNORECASE).astype(bool)
    df.drop(columns=['Sterelization'], errors='ignore', inplace=True)
    return df

def categorizy(df : pd.DataFrame, **kwargs) -> pd.DataFrame:
    month_cat = pd.CategoricalDtype(['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'], ordered=True)
    df['Month'] = df['Month'].astype(month_cat)
    columns = list(set(df.head(0).select_dtypes(object)) - {'Name', 'Color', 'Breed', 'Found Location'})
    df[columns] = df[columns].astype('category')
    return df

In [18]:
typing = pipeline(
    age_type,
    id_type,
    year_type,
    datetime_types,
    sterelization_type,
    categorizy
)

display(typing(intake_df, dataset='Intake').head())
display(typing(outcome_df, dataset='Outcome').head())

,Animal ID,Name,DateTime,Found Location,Intake Type,Intake Condition,Animal Type,Breed,Color,Month,Year,IsMixed,Sex,AgeDays,AgeMonths,AgeYears,IsSterelized
0,786884,Brock,2019-01-03 16:19:00,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Beagle Mix,Tricolor,January,2019,True,Male,730,24,2,False
1,706918,Belle,2015-07-05 12:59:00,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,English Springer Spaniel,White/Liver,July,2015,False,Female,2920,97,8,False
2,724273,Runster,2016-04-14 18:43:00,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Basenji Mix,Sable/White,April,2016,True,Male,330,11,0,True
3,665644,NaN,2013-10-21 07:59:00,Austin (TX),Stray,Sick,Cat,Domestic Shorthair Mix,Calico,October,2013,True,Female,28,0,0,True
4,857105,Johnny Ringo,2022-05-12 00:23:00,4404 Sarasota Drive in Austin (TX),Public Assist,Normal,Cat,Domestic Shorthair,Orange Tabby,May,2022,False,Male,730,24,2,False

,Animal ID,Name,DateTime,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Breed,Color,Month,Year,IsMixed,Sex,AgeDays,AgeMonths,AgeYears,IsSterelized
0,882831,Hamilton,2023-07-01 18:12:00,2023-03-25,Adoption,NaN,Cat,Domestic Shorthair Mix,Black/White,NaN,2023,True,Male,90,3,0,False
1,794011,Chunk,2019-05-08 18:20:00,2017-05-02,Return to Owner,NaN,Cat,Domestic Shorthair Mix,Brown Tabby/White,May,2019,True,Male,730,24,2,False
2,776359,Gizmo,2018-07-18 16:02:00,2017-07-12,Adoption,NaN,Dog,Chihuahua Shorthair Mix,White/Brown,NaN,2018,True,Male,365,12,1,False
3,821648,NaN,2020-08-16 11:38:00,2019-08-16,Euthanasia,NaN,Other,Raccoon,Gray,NaN,2020,False,NaN,365,12,1,True
4,720371,Moose,2016-02-13 17:59:00,2015-10-08,Adoption,NaN,Dog,Anatol Shepherd/Labrador Retriever,Buff,NaN,2016,False,Male,120,4,0,False

In [ ]:
preprocess = pipeline(
    copy,
    extract,
    transform,
    typing
)


intake = preprocess(intakes_raw, dataset='Intake')
outcome = preprocess(outcomes_raw, dataset='Outcome')

After all transformations we can check if 'Year' and 'Month' features correspond to 'DateTime' month and year

In [ ]:
print('Does DateTime coincide with Month and Year (Intake): ', all(
    ((intake['Month'].isna() | ((intake['DateTime'].dt.month - 1) == intake['Month'].cat.codes))) # Matching month. Categories codes start from 0, while datetime64 start from 1, so we subtract one from later
    & 
    (intake['Year'].isna() | (intake['DateTime'].dt.year == intake['Year'])) # Matching years
))

print('Does DateTime coincide with Month and Year (Outcome): ', all(
    ((outcome['Month'].isna() | ((outcome['DateTime'].dt.month - 1) == outcome['Month'].cat.codes))) # Matching month. Categories codes start from 0, while datetime64 start from 1, so we subtract one from later
    & 
    (outcome['Year'].isna() | (outcome['DateTime'].dt.year == outcome['Year'])) # Matching years
))

They are the same, so we can delete 'Year' and 'Month' features

In [ ]:
def remove_month_year(df : pd.DataFrame, dataset, **kwargs) -> pd.DataFrame:
    df.drop(columns=['Month', 'Year'], inplace=True)
    return df

preprocess = pipeline(
    copy,
    extract,
    transform,
    typing,
    remove_month_year
)

intake = preprocess(intakes_raw, dataset='Intake')
outcome = preprocess(outcomes_raw, dataset='Outcome')

In [ ]:
display(better_info(intake), better_info(outcome))

## Descriptive statistics

Let's firestly look at missing values, we will use bargraph for that.

In [ ]:
def bar_missing(df : pd.DataFrame, title='') -> None:
    nans = df.notna().sum()
    fig = plt.figure(figsize=(7, 4))
    ax = fig.add_axes([0,0,1,1])
    ax.bar(nans.index, nans, color='#505050')
    ax.set_xticks(range(nans.shape[0]), nans.index, rotation=45, ha='right', va='top')
    ax.tick_params(axis='x', length=10.0)
    ax.set_title(title)
    display(fig)

bar_missing(intake, title='Intakes')
bar_missing(outcome, title='Outcomes')
plt.close('all')

### Describing Age

We will describe 'Age' in days as it is the mose precise resolution that we can get this data in. To detect outliers we will use 3-sigma test.

In [ ]:
age = intake['AgeDays']

outlier_border = age.mean() + 3 * age.std()

fig = plt.figure(figsize=(9, 4))
ax = fig.add_axes([0,0,1,1])
age.plot.hist(
    ax=ax, bins=30
)
ax.axvline(age.mean(), color='r', label='Mean')
ax.axvline(age.mean() + age.std(), color='orange', label='1-sigma away')
ax.axvline(outlier_border, color='orange', alpha=0.4, linestyle='--')
ax.axvspan(
    outlier_border, ax.dataLim.xmax, 
    color='orange', alpha=0.2,
    label='Outliers', hatch='\\'
)

ax.xaxis.set_major_locator(ticker.FixedLocator([2500*i for i in range(5)] + [age.max(), age.mean(), age.mean() + age.std(), outlier_border]))
ax.set_xlim(-100, age.max())

ax.set_title('Age in Days upon Intake')
ax.legend(loc='upper right')
plt.show()

Age upon intake is weighted towards zero. It is expected, because homeless animals give birth to several homeless pups, also people tend not to abandond pets, with whom they have spent long time, so older pets are rarer kicked out of home. Nevertheless, little to no pet can live more then 10 years, andd our visualisation shows that, by placing outlier border near 10 years.

### Describing DateTime

It is impractical to look at the distribution of 'DateTime', as it is an amalgamation of several independent variables, so it will be much more meaningful to inspect them separated. The aspects that we will be inspecting are year, day of the year and hour, so combination of those three covers whole range of timestamps with adequate granularity.

In [ ]:
from matplotlib.dates import MonthLocator, YearLocator

dt = intake['DateTime']

year = dt.dt.year
day = dt.dt.dayofyear
hour = dt.dt.hour

vc_year = year.value_counts()
q1, q2, q3 = vc_year.quantile(0.25), vc_year.median(), vc_year.quantile(0.75)
day = dt.dt.dayofyear
hour = dt.dt.hour

fig, [ax_h, ax_d, ax_y] = plt.subplots(1, 3, figsize=(19, 5))
ax_y.stem(
    vc_year.index, vc_year
)
ax_y.set_title('Year')
ax_y.axhline(q1, color='orange', alpha=0.5)
ax_y.axhline(q2, color='orange', alpha=1.0)
ax_y.axhline(q3, color='orange', alpha=0.5)

for txt, xy in zip(['Q1', 'Q2', 'Q3'], [ (2024, q) for q in (q1, q2, q3)]):
    ax_y.annotate(
        txt, xy=xy, color='orange', ha='center', va='bottom'
    )

vc_day = day.value_counts() / year.nunique()
ax_d.bar(
    vc_day.index, vc_day, width=1.0
)
ax_d.xaxis.set_major_locator(MonthLocator())
day_stat = [ vc_day.mean() + i * vc_day.std() for i in [-1,0,1] ]
ax_d.axhline(day_stat[0], color='r', alpha=0.5)
ax_d.axhline(day_stat[1], color='r', alpha=1.0)
ax_d.axhline(day_stat[2], color='r', alpha=0.5)
ax_d.yaxis.set_major_locator(ticker.FixedLocator([20, 50] + day_stat))
ax_d.set_ylim(15, 60)
ax_d.set_title('Day of the year')

for txt, xy in zip(['-œÉ', 'Œº', '+œÉ'], [ (372, i) for i in day_stat]):
    ax_d.annotate(
        txt, xy=xy, color='black', fontsize=12, ha='center', va='baseline'
    )

hour.plot.box(
    ax=ax_h,
    grid=True, showmeans=True
)
ax_h.set_title('Hour')
ax_h.set_ylim(-2, 25)
ax_h.set_xticks([])
ax_h.yaxis.set_major_locator(ticker.FixedLocator([ 3*i for i in range(8) ] + [23]))

plt.show()

Intake hours are mostly concentrated in the afternoon, one hypothesis could be, that  most veterinars work at that time, and whole distribution is tilted towards late hours, with outliers from 12 PM until 3 AM.

There are more intakes during summer, on average AAC intakes 38 pets.

Median of intakes that AAC manages each year is approximately 15 000, with numbers dropping after 2020. We could theoretise, that such a sharp decay was result of COVID19, thou it does not explain why does not numbers return to preCOVID values.

### Generic quantative describer

All quantative data is displayed similaly, so we will write a function that will do it automatically and put some color into this presentation.

In [ ]:
from typing import Tuple

def display_quantative(ser : pd.Series, display_thr=1, display_nan=False, **kwargs) -> Tuple[mpl.figure.Figure, mpl.axes.Axes]:
    vc = ser.value_counts(dropna=(not display_nan))
    vc.index = vc.index.astype(str)
    mode_val, mode = vc.idxmax(), vc.max()
    fig, ax = plt.subplots(figsize=(12, 5))
    ax.grid(zorder=0)
    ax.bar(vc.index, vc, zorder=3, **kwargs)

    # We will display only values that differ in display_thr percents. pd.Series.diff() is not exactly it, but works fine
    vc_procent = vc / ser.count() * 100
    diffs = -vc_procent.copy().sort_values(ascending=False).diff()
    index = (diffs > display_thr) | diffs.isna()
    vc = vc[index]
    vc_procent = vc_procent[index]
    
    left_labels = vc.to_list()
    right_labels = [ f"{i:.2f}%" for i in vc_procent ]
    ax.set_yticks(
        left_labels, left_labels
    )
    y2 = ax.twinx()
    y2.set_ylim(ax.get_ylim())
    y2.set_yticks(
        left_labels, right_labels
    )
    return fig, ax

### Describing Animal Type

In [ ]:
fig, ax = display_quantative(outcome['Animal Type'], color='#F85E00')

Unsurprisingly dog is by far the most intaken animal. Cats come in second, summing up with pups in 95.34% of all animals. Because we are dealing with city animal asylum it is expected, that allmost all intakes would be pets, canines and felines are primal example of those.

### Describing Intake condition

In [ ]:
fig, ax = display_quantative(intake['Intake Condition'], display_thr=2, color='#52AA5E')
_ = ax.set_xticks(
    ax.get_xticks(), ax.get_xticklabels(),
    rotation=90
)

Most of the animals (luckily) come in normal condition, but remaining 15% are animals that require veterinar's help.

### Describing Outcome Type

In [ ]:
fig, ax = display_quantative(
    outcome['Outcome Type'], 
    display_thr=2,
    display_nan=True,
    color='#758BFD'
)
_ = ax.set_xticks(
    ax.get_xticks(), ax.get_xticklabels(), fontsize=8
)

Allmost half of the animals are adopted, combining with 15% of those who are returned to owners, it is easy to say, that most animals end up lucky. 7% of animals are euthanized or die in the asylums.

### Correlation

We will check for correlation between day of the year and age of intaken animals.

In [ ]:
day = intake['DateTime'].dt.dayofyear
age = intake['AgeDays']
idx = age.sample(500, random_state=42).index
df = pd.DataFrame({'Day' : day, 'age' : age})

fig, [ax1, ax2] = plt.subplots(1, 2, figsize=(13, 5))

sns.scatterplot(
    x=day[idx], y=age[idx],
    ax=ax1
)
ax1.set_title("500 samples\nAge vs DateTime")
sns.heatmap(
    df.corr().T,
    ax=ax2,
    annot=True,
    cmap='crest'
)
ax2.set_title('Correlation coefficients')
plt.show()

There is no correlation, the scatterplot on the right does guide neither into positive nor negative correlation and offdiagonal heatmap values are close to zero, so numeric methods show us that features are uncorrelated.